/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;

  --basic-extra-grey: #333333;
  --basic-dark-grey: #666666; /* rating */
  --basic-grey: #EEEEEE; /* reason background*/
  --basic-light-grey: #CACACA; /*triangle*/
  --basic-creamy-grey: #E5E5E5; /*border form*/
  --basic-gray-brown: #888888;

  --basic-neutral: #A9A9A9; /* plus minus calendar */
  --basic-light-silver: #F2F2F2; /* form field rest */
  --basic-silver: #EBEBEB; /* form field hover */
  --basic-steel-grey:  #6A6A6A; /* checkbox checked */
  --basic-grey-medium:  rgba(171, 171, 171, 0.3); /* range scale*/
  --basic-brown-grey: #ababab;

  --basic-extra-blue: #5496BD;
  --basic-blue: #669EC0;
  --basic-ligth-blue: #81B3D2;

  --basic-extra-brown:  #503E33;
  --basic-brown: #604E43; /*hotels*/
  --basic-light-brown: #766357;

  --basic-low-opacity: rgba(0, 0, 0, 0.3);
  --basic-white-opacity: rgba(255,255,255, 0.3);
  --basic-black-opacity: rgba(0, 1, 1, 0.2); /* box-shadow color*/
  --basic-light-white: rgba(255, 255, 255, 0.9);
  --basic-black-shadow: rgba(0, 1, 1, 0.15);
}

/* Glodal */

.page {
  background-color: var(--basic-light-silver);
}

.page-body {
  min-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  line-height: 21px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-container {
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--basic-black-shadow);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  position: relative;
  width: 1200px;
  justify-self: center;
  padding: 0;
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  position: absolute;
  z-index: 1;
  width: 138px;
  height: 70px;
  left: 531px;
  top: 0px;
  margin: 0 auto;
  padding: 0;
  justify-self: center;
}

/* Main navigation*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  display: grid;
  margin: 0;
  padding: 0;
}

.site-navigation {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 14px 71px;
}

.site-navigation > li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
}

.site-navigation a {
  height: 26px;
  top: 15px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

/* Container */

.container {
  position: relative;
  z-index: 0;
  width: 1200px;
  padding: 0;
  background-color: var(--basic-white);
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-ligth-blue);
}

.site-navigation a:active {
  color: var(--basic-low-opacity);
}

.site-navigation .link-active {
  color: var(--basic-light-brown);
}

/* Welcome image*/

.welcome-image {
  height: 425px;
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-neutral);
  text-align: center;
  padding-top: 77.35px;
  padding-right: 371.96px;
  padding-left: 371.38px;
}

.welcome-image::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  top: 447px;
  left: 0px;
  background-image: url("../img/shape-white-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Text */

.text-content {
  line-height: 26px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 42.5px;
  padding-right: 341px;
  padding-bottom: 51px;
  padding-left: 340px;
  background-color: var(--basic-white);
}

.slogan {
  font-weight: bold;
  font-size: 21px;
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 41px;
  margin-left: 25px;
}

.desc {
  font-weight: normal;
  font-size: 14px;
  color: var(--basic-extra-grey);
  margin: 0px;
}


/* Features */

.features-list {
  list-style: none;
  text-align: center;
  width: 1200px;
  color: var(--basic-extra-grey);
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  margin: 0 auto;
  padding: 0;
}

.features-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.features-item:nth-child(1) {
  padding-top: 55px;
  padding-right: 73px;
  padding-bottom: 82px;
  padding-left: 73px;
}

.features-item:nth-child(2) {
  padding-top: 55px;
  padding-right: 53px;
  padding-bottom: 82px;
  padding-left: 53px;
}

.features-item:nth-child(3) {
  padding-top: 55px;
  padding-right: 65px;
  padding-bottom: 82px;
  padding-left: 65px;
}

.features-housing,
.features-food,
.features-souvenirs {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  line-height: 21px;
}

.features-housing {
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-right: 92px;
  margin-bottom: 25px;
  margin-left: 92px;
}

.features-housing::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -100px;
  left: -2px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.features-about.housing {
  margin: 0px;
}

.features-food {
  position: relative;
  margin-top: 100px;
  margin-right: 125px;
  margin-bottom: 25px;
  margin-left: 125px;
}

.features-food::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: -100px;
  left: -15px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.features-about.food {
  margin: 0px;
}

.features-souvenirs {
  position: relative;
  margin-top: 100px;
  margin-right: 83px;
  margin-bottom: 25px;
  margin-left: 83px;
}

.features-souvenirs::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: -100px;
  left: 20px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.features-about.souvenirs {
  margin: 0px;
}

/* City */

.city {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.city-desc {
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
  padding-top: 47px;
  padding-right: 51px;
  padding-bottom: 54px;
  padding-left: 52px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.city-title {
  font-weight: bold;
  font-size: 21px;
  width: 122px;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-right: 88px;
  margin-left: 87px;
}

.city-number {
  width: 51px;
  margin-top: 0px;
  margin-bottom: 23px;
  margin-right: 123px;
  margin-left: 123px;
}

.city-about {
  width: 297px;
  margin: 0px;
}

.city-image {
  height: 256px;
}

/* Bridge */

.bridge {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: center;
}

.bridge-desc {
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-right: 39px;
  padding-bottom: 51px;
  padding-left: 40px;
}

.bridge-image {
  height: 256px;
}

.bridge-title {
  width: 150px;
  font-weight: bold;
  font-size: 21px;
  margin-top: 0px;
  margin-right: 70px;
  margin-bottom: 25px;
  margin-left: 85px;
}

.bridge-number {
  margin-top: 0px;
  margin-right: 125px;
  margin-bottom: 23px;
  margin-left: 125px;
}

.bridge-about {
  margin: 0px;
}

/* Reason */

.reason {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reason-list {
  list-style: none;
  text-align: center;
  background-color: var(--basic-grey);
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.reason-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-grey);
  display: flex;
  flex-direction: column;
}

.reason-item:nth-child(1) {
  padding-top: 47px;
  padding-right: 96px;
  padding-bottom: 54px;
  padding-left: 96px;
}

.reason-item:nth-child(2) {
  padding-top: 47px;
  padding-right: 71px;
  padding-bottom: 54px;
  padding-left: 71px;
}

.reason-item:nth-child(3) {
  padding-top: 47px;
  padding-right: 77px;
  padding-bottom: 54px;
  padding-left: 77px;
}

.reason-title {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
}

.reason-about {
  margin: 0px;
}

.reason-title.area {
  margin-top: 0px;
  margin-right: 44px;
  margin-bottom: 25px;
  margin-left: 44px;
}

.reason-title.road {
  margin-top: 0px;
  margin-right: 80px;
  margin-bottom: 25px;
  margin-left: 80px;
}

.reason-title.tourist {
  margin-top: 0px;
  margin-right: 73px;
  margin-bottom: 25px;
  margin-left: 73px;
}

.number-area {
  margin-top: 0px;
  margin-right: 80px;
  margin-bottom: 23px;
  margin-left: 80px;
}

.number-road {
  margin-top: 0px;
  margin-right: 104px;
  margin-bottom: 23px;
  margin-left: 104px;
}

.number-tourist {
  margin-top: 0px;
  margin-right: 97px;
  margin-bottom: 23px;
  margin-left: 97px;
}

/* Image */

.city-image,
.bridge-image {
  background-color: var(--basic-light-grey);
}

/* Hotel search */

.hotel-search {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-extra-grey);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  padding-right: 316px;
  padding-bottom: 0px;
  padding-left: 316px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: bold;
  width: 297px;
  margin-top: 0px;
  margin-right: 141px;
  margin-bottom: 44px;
  margin-left: 130px;
}

.hotel-search-info {
  margin-top: 0px;
  margin-right: 66px;
  margin-bottom: 24px;
  margin-left: 67px;
  width: 435px;
  margin-bottom: 34px;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 568px;
  height: 86px;
  background-color: var(--basic-light-brown);
  border: 0px solid var(--basic-light-brown);
  margin: 0px;
  outline: none;
}

.button:hover {
  background-color: var(--basic-brown);
}

.button:active {
  background-color: var(--basic-extra-brown);
  color: var(--basic-white-opacity);
}

/* Map */

.map-search {
  position: relative;
  overflow: hidden;
  width: 1200px;
  background-color: var(--basic-light-silver);
}

/* Form */

.hotel-search-form {
  position: absolute;
  z-index: 2;
  width: 458px;
  height: 300px;
  top: 2100px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: start;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-black-shadow);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 55px;
}

.hotel-search-item {
  color: var(--basic-black);
  width: 467px;
  margin: 0px;
  display: flex;
}

.hotel-search-item input {
  width: 330px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  align-items: center;
  background-color: var(--basic-light-silver);
  border: none;
  outline: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 29px;
}

.hotel-search-item input::placeholder {
  color: var(--basic-black);
}

.arrival-data input,
.depature-data input {
  padding-left: 13px;
  border: 2px solid transparent;
}

.arrival-data input:hover,
.depature-data input:hover {
  background-color: var(--basic-silver);
}

.input-data:hover + .calendar {
  background-color: var(--basic-silver);
}

 .arrival input:focus,
 .depature input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-creamy-grey);
}

.input-data:focus + .calendar {
  background-color: var(--basic-white);
}

.label-arrival-data,
.label-depature-data {
  padding-top: 8px;
}

.label-info-child,
.label-info-grown  {
  padding-top: 5px;
}

.arrival-data input {
  margin-left: 20px;
}

.depature-data input {
  margin-left: 16px;
}

.hotel-search-item.data {
  position: relative;
}

.calendar {
  position: absolute;
  right: 15px;
  top: 9px;
  border: none;
  outline: none;
  background-color: var(--basic-light-silver);
}

.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--basic-ligth-blue);
}

.hotel-search-inform{
  width: 469px;
  display: flex;
  margin-left: 0px;
}

.column input{
  width: 85px;
  height: 38px;
  text-align: center;
  align-items: center;
  padding: 0px 14px 0px 13px;
}

.hotel-search-item.column {
  position: relative;
}

.hotel-search-item.grown {
  margin-right: 30px;
}

.hotel-search-item.child {
  width: 70%;
}

.label-info-grown {
  margin-right: 35px;
}

.label-info-child {
  margin-right: 18px;
}

.info-grown {
  position: relative;
}

.info-child {
  position: relative;
}

.button-increase,
.button-reduce {
  position: absolute;
  border: none;
  outline: none;
  background-color: var(--basic-light-silver);
}

.button-increase {
  top: 10px;
  right: 10px;
}

.button-reduce {
  top: 7px;
  right: 80px;
}

.button-increase:hover path,
.button-reduce:hover rect {
  fill: var(--basic-black);
}

.button-increase:active path,
.button-reduce:active rect {
  fill: var(--basic-ligth-blue);
}

.hotel-search-button {
  position: absolute;
  width: 458px;
  height: 58px;
  transform: translateY(240px);
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-ligth-blue);
  border: 0px solid var(--basic-light-blue);
  padding: 0px;
  outline: none;
}

.hotel-search-button:hover {
  background-color: var(--basic-blue);
}

.hotel-search-button:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-extra-blue);
}

/* Main footer */

.main-footer {
  position: absolute;
  font-size: 0;
  top: 2627px;
  width: 1200px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-light-white);
  background-position: 0 0;
  padding: 0;
}

.footer {
  position: relative;
  top: 0px;
}

.main-footer .contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-right: 111px;
  padding-bottom: 15px;
  padding-left: 111px;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  flex-direction: column;
}

.hashtag {
  margin-top: 0px;
  margin-right: 13px;
  margin-bottom: 5px;
  margin-left: 43px;
}

.phone {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-phone {
  color: var(--basic-black);
}

/* Scoial button */

.footer-social {
  text-align: center;
  list-style: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.social-button {
  width: 46px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
}

.social-button.twitter,
.social-button.facebook,
.social-button.youtube   {
  margin-right: 6px;
}

.social-button:hover {
  background-color: var(--basic-blue);
}

.social-button:active path {
  background-color: var(--basic-extra-blue);
  fill: var(--basic-white-opacity);
}

/* Footer copyright */

.footer-copyright {
  font-weight: normal;
  font-size: 14px;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.footer-copyright:hover path {
  fill: var(--basic-ligth-blue);
}

.footer-copyright:active path {
  fill: var(--basic-neutral);
}

.footer-copyright-introduction {
  margin-top: 35px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.copyright {
  color: var(--basic-black);
  margin-top: 25px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.copyright:hover {
  color: var(--basic-blue);
}

.copyright:active {
  color: var(--basic-light-grey);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




/* Catalog */

/* Form checkbox */

.filters {
  width: 1200px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-image: url("../img/background-catalog.jpg");
}

.filter {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: min-content min-content 1fr;
  justify-content: center;
  padding-top: 26.5px;
  padding-right: 73px;
  padding-bottom: 6px;
  padding-left: 72px;
}

.filter-infrastructure-title,
.filter-housing-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.filter-price-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 22px;
}

.filter-infrastructure {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 150px 0px 0px;
}

.filter-housing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 288px 0px 0px;
}

.filter-option {
  position: relative;
  display: flex;
}

.filter-option:hover path {
  fill: var(--basic-white);
}

.filter-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.filter-label .title-checkmark {
  padding-left: 40px;
}

.filter-option .checkmark {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-option input:checked ~ .checkmark {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-option input:disabled ~ .checkmark {
  background-image: url("../img/icon-checkbox-disabled.svg");
}

.filter-option input:checked:disabled ~ .checkmark {
  background-image: url("../img/icon-checkbox-checked-disabled.svg");
}

.form-filter {
  list-style: none;
  padding-left: 0px;
}

.filter-price {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border: none;
}

.range-filter {
  width: 317px;
  margin-top: 0px;
}

.filter-price .filter-price-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  width: 342px;
  height: 36px;
  display: flex;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  justify-content: space-around;
  border-radius: 2px;
  margin-right: 22px;
  margin-top: -10.5px;
}

.border {
  position: absolute;
  width: 2px;
  height: 22px;
  left: 167px;
  top: 7px;
  background-color: var(--basic-white);
}

.price-controls label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.price-controls input {
  width: 50px;
  padding-top: 2.5px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.min-price input {
  width: 10px;
}

.max-price input::placeholder,
.min-price input::placeholder {
  color: var(--basic-white);
}

.min-price {
  display: flex;
  padding-top: 8.5px;
  padding-right: 42px;
  padding-bottom: 8.5px;
  padding-left: 52px;
}

.max-price {
  display: flex;
  padding-top: 8.5px;
  padding-right: 36px;
  padding-bottom: 8.5px;
  padding-left: 47px;
}

.range-controls {
  position: relative;
  top: 31px;
  height: 80px;
  margin-bottom: 15px;
}

.range-controls .scale {
  height: 2px;
  width: 330px;
  background: var( --basic-grey-medium);
  margin-left: 14px;
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background-color: var(--basic-white);
  margin-top: -10px;
}

.range-controls .toggle {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var( --basic-brown-grey);
  border-radius: 50%;
  mix-blend-mode: normal;
  box-shadow: 0 2px 0px 0 var( --basic-grey-medium);
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 6px;
  height: 6px;
  border: 8px solid var(--basic-white);
  background-color: var( --basic-brown-grey);
  border-radius: 50%;
}

.range-controls .toggle-min {
  top: -9px;
  left: 0px;
}

.range-controls .toggle-max {
  top: -9px;
  left: 265px;
}

.button-show {
  position: absolute;
  top: 185px;
  left: 781px;
  width: 137px;
  height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  align-items: center;
  margin: -33px 95px 0px 95px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid var(--basic-white);
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Sortings */

.option {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-self: center;
  border-bottom: 1px solid var(--basic-light-silver);
}

.sorting-options {
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-low-opacity);
  align-items: center;
  text-transform: uppercase;
  display: flex;
  padding-top: 29px;
  padding-right: 17px;
  padding-bottom: 31px;
  padding-left: 73px;
}

.option-found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0px;
}

.page-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0px 40px 0px 46px;
}

.sorting {
  color: var(--basic-low-opacity);
  border-bottom: 1px dotted var(--basic-ligth-blue);
  font-size: 12px;
  line-height: 18px;
  margin: 0px 33px 0px 0px;
}

.sorting.sorting-active {
  color: var(--basic-ligth-blue);
  margin: 0px 32px 0px 0px;
  border-bottom: none;
}

.sorting:hover {
  color: var(--basic-ligth-blue);
}

.sorting:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-up-down {
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-low-opacity);
  align-items: center;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 73px;
  padding-bottom: 36px;
  padding-left: 73px;
}

.sorting-ascending {
  margin: 0px;
  margin-right: 5px;
}

.sorting-ascending:hover path{
  fill: var(--basic-black);
}

.sorting-ascending:active path {
  fill: var(--basic-ligth-blue);
}

.sorting-descending {
  margin: 0px;
}

.sorting-descending.active path{
  fill: var(--basic-ligth-blue);
}

.sorting-descending:hover path {
  fill: var(--basic-black);
}

.sorting-descending:active path{
  fill: var(--basic-ligth-blue);
}

/* Catalog */

.catalog {
  font-size: 0px;
}

.catalog-list {
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  padding: 0px;
}

.catalog-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 73px 30px 73px;
  border-bottom: 1px solid var(--basic-light-silver);
}

.infoblock {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  margin-left: 29px;
}

.infoblock h3 {
  margin-bottom: 7px;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin-bottom: 0px;
}

.catalog-item-title:hover {
  color: var(--basic-ligth-blue);
}

.catalog-item-title:active {
  color: var(--basic-low-opacity);
}

.info {
  display: flex;
}

.result-housing-type {
  margin: 0px 0px 17.3px 0px;
  color: var(--basic-extra-grey);
}

.about-price {
  margin-left: 6px;
}

.result-for-price {
  margin: 0px 0px 17.3px 0px;
}

.about-rating {
  position: relative;
  margin-left: auto;
}

.rating {
  position: relative;
  top: 63px;
  width: 110px;
  height: 21px;
  align-items: center;
  text-align: center;
  padding: 3px 12px 3px 15px;
  margin-top: auto;
  margin-bottom: 0px;
  background-color: var(--basic-light-silver);
  color: var(--basic-dark-grey);
}

.rating-stars.hotel-first {
  position: absolute;
  left: 49px;
}

.rating-stars.hotel-second {
  position: absolute;
  left: 72px;
}

.rating-stars.hotel-third {
  position: absolute;
  left: 95px;
}

/* Button catalog */

.button-details {
  width: 110px;
  height: 27px;
  font-weight: bold;
  text-align: center;
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
  padding: 3px 16px 3px 17px;
}

.button-details:hover {
  background-color: var(--basic-blue);
}

.button-details:active {
  background-color: var(--basic-extra-blue);
  color: var(--basic-white-opacity);
}

.button-book {
  width: 142px;
  height: 27px;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: bold;
  padding: 3px 17px 3px 16px;
}

.button-book:hover {
  background-color: var(--basic-brown);
}

.button-book:active {
  background-color: var(--basic-extra-brown);
  color: var(--basic-white-opacity);
}
