/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;

  --basic-extra-grey: #333333;
  --basic-dark-grey: #666666; /* rating */
  --basic-grey: #EEEEEE; /* reason background*/
  --basic-light-grey: #CACACA; /*triangle*/

  --basic-neutral: #A9A9A9; /* plus minus calendar */
  --basic-light-silver: #F2F2F2; /* form field rest */
  --basic-silver: #EBEBEB; /* form field hover */
  --basic-steel-grey:  #6A6A6A; /* checkbox checked */

  --basic-extra-blue: #5496BD;
  --basic-blue: #669EC0;
  --basic-ligth-blue: #81B3D2;

  --basic-extra-brown:  #503E33;
  --basic-brown: #604E43; /*hotels*/
  --basic-light-brown: #766357;

  --basic-low-opacity: rgba(0, 0, 0, 0.3);
  --basic-white-opacity: rgba(255,255,255, 0.3);
}

/* Glodal */

.page-body {
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  line-height: 21px;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin-bottom: 50px;

  width: 1200px;
  outline: 5px solid rgba(0, 247, 255, 0.7);
  outline-offset: -5px;
  justify-self: center;
  margin: 0 auto;
  padding: 0;
}

/* Logo */

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 571px;
  top: 0px;

  margin: 0 auto;
  padding: 0;
  outline: 5px solid  rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  justify-self: center;
}

/* Main navigation*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);

  display: grid;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  list-style: none;

  outline: 5px solid  rgba(251, 255, 0, 0.3);
  outline-offset: -5px;
  margin: 0;
  padding: 0;

  display: flex;
}

.site-navigation > li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
}

.site-navigation a {
  outline: 5px solid  rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
  width: 80px;
  height: 26px;
  top: 15px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-ligth-blue);
}

.site-navigation a:active {
  color: var(--basic-low-opacity);
}

.site-navigation .link-active {
  color: var(--basic-light-brown);
}

/* Welcome image*/

.welcome-image {
  width: 1200px;
  height: 509px;
  left: 40px;
  top: 55px;
  background-image: url("../img/background-index.jpg");
  background-color: var(--basic-neutral);
  text-align: center;

  outline: 5px solid rgba(255, 0, 0 , 0.3);
  outline-offset: -5px;
}


/* Text */

.text-content {
  line-height: 26px;
  text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  padding-top: 42.5px;
  padding-right: 341px;
  padding-bottom: 51px;
  padding-left: 340px;
}

.slogan {
  font-weight: bold;
  font-size: 21px;
  outline: 5px solid rgba(76, 0, 255, 0.3);
  outline-offset: -5px;
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 16.5px;
  margin-left: 25px;
  padding-bottom: 25px;
}

.desc {
  font-weight: normal;
  font-size: 14px;
  color: var(--basic-extra-grey);
  outline: 5px solid rgba(76, 0, 255, 0.3);
  outline-offset: -5px;
  margin: 0px;
}

/* Features */

.features-list {
  list-style: none;
  text-align: center;
  width: 1200px;
  color: var(--basic-extra-grey);
  outline: 5px solid rgba(99, 0, 86, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  margin: 0 auto;
  padding: 0;
}

.features-item {
  outline: 5px solid rgba(21, 102, 112, 0.3);
  outline-offset: -5px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.features-item:nth-child(1) {
  padding-top: 60px;
  padding-right: 73px;
  padding-bottom: 82px;
  padding-left: 73px;
}

.features-item:nth-child(2) {
  padding-top: 60px;
  padding-right: 53px;
  padding-bottom: 82px;
  padding-left: 53px;
}

.features-item:nth-child(3) {
  padding-top: 60px;
  padding-right: 65px;
  padding-bottom: 82px;
  padding-left: 65px;
}

.features-about {
  outline: 5px solid rgba(99, 0, 86, 0.3);
  outline-offset: -5px;
}

.features-housing,
.features-food,
.features-souvenirs {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  line-height: 21px;

  outline: 5px solid rgba(99, 0, 86, 0.3);
  outline-offset: -5px;
}

.features-housing {
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 92px;
  margin-right: 92px;
}

.features-about.housing {
  margin: 0px;
}

.features-food {
  margin-top: 0px;
  margin-right: 125px;
  margin-bottom: 25px;
  margin-left: 125px;
}

.features-about.food {
  margin: 0px;
}

.features-souvenirs {
  margin-top: 0px;
  margin-right: 83px;
  margin-bottom: 25px;
  margin-left: 83px;
}

.features-about.souvenirs {
  margin: 0px;
}


/* City */

.city {
  outline: 5px solid rgba(0, 99, 0, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.city-desc {
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
  outline: 5px solid rgba(81, 255, 0, 0.856);
  outline-offset: -5px;
  padding-top: 47px;
  padding-right: 51px;
  padding-bottom: 54px;
  padding-left: 52px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.city-title {
  font-weight: bold;
  font-size: 21px;
  width: 122px;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-right: 88px;
  margin-left: 87px;
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

.city-number {
  width: 51px;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-right: 123px;
  margin-left: 123px;
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

.city-about {
  width: 297px;
  margin: 0px;
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

.city-image {
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

/* Bridge */

.bridge {
  outline: 5px solid rgba(0, 99, 0, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: center;
}

.bridge-desc {
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
  outline: 5px solid rgba(255, 196, 0, 0.3);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-right: 39px;
  padding-bottom: 51px;
  padding-left: 40px;
}

.bridge-image {
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

.bridge-title {
  width: 150px;
  font-weight: bold;
  font-size: 21px;
  margin-top: 0px;
  margin-right: 70px;
  margin-bottom: 25px;
  margin-left: 85px;
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

.bridge-number {
  margin-top: 0px;
  margin-right: 125px;
  margin-bottom: 25px;
  margin-left: 125px;
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

.bridge-about {
  margin: 0px;
  outline: 5px solid rgba(0, 17, 255, 0.3);
  outline-offset: -5px;
}

/* Reason */

.reason {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reason-list {
  list-style: none;
  text-align: center;
  background-color: var(--basic-grey);
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(217, 255, 0, 0.3);
  outline-offset: -5px;
}

.reason-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-grey);
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
}

.reason-item:nth-child(1) {
  padding-top: 47px;
  padding-right: 96px;
  padding-bottom: 54px;
  padding-left: 96px;
}

.reason-item:nth-child(2) {
  padding-top: 47px;
  padding-right: 71px;
  padding-bottom: 54px;
  padding-left: 71px;
}

.reason-item:nth-child(3) {
  padding-top: 47px;
  padding-right: 77px;
  padding-bottom: 54px;
  padding-left: 77px;
}

.reason-title {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
}

.reason-number{
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
}

.reason-about {
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
  margin: 0px;
}

.reason-title.area {
  margin-top: 0px;
  margin-right: 44px;
  margin-bottom: 25px;
  margin-left: 44px;
}

.reason-title.road {
  margin-top: 0px;
  margin-right: 80px;
  margin-bottom: 25px;
  margin-left: 80px;
}

.reason-title.tourist {
  margin-top: 0px;
  margin-right: 73px;
  margin-bottom: 25px;
  margin-left: 73px;
}

.number-area {
  margin-top: 0px;
  margin-right: 80px;
  margin-bottom: 23px;
  margin-left: 80px;
}

.number-road {
  margin-top: 0px;
  margin-right: 104px;
  margin-bottom: 23px;
  margin-left: 104px;
}

.number-tourist {
  margin-top: 0px;
  margin-right: 97px;
  margin-bottom: 23px;
  margin-left: 97px;
}
/* Image */

.city-image,
.bridge-image {
  background-color: var(--basic-light-grey);
}

/* Hotel search */

.hotel-search {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-extra-grey);
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  padding-right: 316px;
  padding-bottom: 0px;
  padding-left: 316px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: bold;
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
  width: 297px;
  margin-top: 0px;
  margin-right: 141px;
  margin-bottom: 44px;
  margin-left: 130px;
}

.hotel-search-info {
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
  margin-top: 0px;
  margin-right: 66px;
  margin-bottom: 24px;
  margin-left: 67px;
  width: 435px;
  /*margin-top: 40px;*/
  margin-bottom: 34px;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 568px;
  height: 86px;
  background-color: var(--basic-light-brown);
  margin: 0px;
  outline: 5px solid rgba(255, 38, 0, 0.3);
  outline-offset: -5px;
}

.button:hover {
  background-color: var(--basic-brown);
}

.button:active {
  background-color: var(--basic-extra-brown);
  color: var(--basic-white-opacity);
}

/* Map */

.map-search {
  width: 1199px;
  left: 41px;
  top: 2169px;
  background-color: var(--basic-neutral);
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  margin-top: 0px;
}

/* Main footer */

.main-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.main-footer .contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  outline: 5px solid rgba(0, 81, 255, 0.7);
  outline-offset: -5px;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.hashtag {
  padding-top: 23px;
  padding-right: 150px;
  padding-bottom: 0px;
  padding-left: 153px;
  outline: 5px solid rgba(157, 255, 0, 0.7);
  outline-offset: -5px;
  margin-bottom: 9px;
}

.phone {
  padding-top: 0px;
  padding-right: 82px;
  padding-bottom: 36px;
  padding-left: 111px;
  margin: 0px;
  outline: 5px solid rgba(47, 0, 255, 0.7);
  outline-offset: -5px;
}

.footer-phone {
  color: var(--basic-black);
}

/* Scoial button */

.footer-social {
  text-align: center;
  list-style: none;
  outline: 5px solid rgba(64, 184, 70, 0.7);
  outline-offset: -5px;
  justify-content: center;
  display: flex;
  padding-top: 36px;
  padding-right: 95px;
  padding-bottom: 36px;
  padding-left: 81px;
  margin: 0px;
}

.social-button {
  width: 46px;
  height: 48px;

  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
}

.social-button.twitter,
.social-button.facebook  {
  margin-right: 6px;
}

.social-button.youtube {
  margin: 0px;
}

.social-button:hover {
  background-color: var(--basic-blue);
}

.social-button:active {
  background-color: var(--basic-extra-blue);
  color: var(--basic-white-opacity);
}

/* Footer copyright */

.footer-copyright {
  font-weight: normal;
  font-size: 14px;

  outline: 5px solid rgba(255, 0, 128, 0.7);
  outline-offset: -5px;
  justify-content: end;
  display: flex;
}

.footer-copyright-introduction {
  padding-top: 49px;
  padding-right: 5px;
  padding-bottom: 45px;
  padding-left: 81px;
  margin: 0px;
}

.copyright {
  color: var(--basic-black);
  padding-top: 49px;
  padding-right: 111px;
  padding-bottom: 45px;
  padding-left: 0px;
  margin: 0px;
}

.copyright:hover {
  color: var(--basic-blue);
}

.copyright:active {
  color: var(--basic-light-grey);
}



















/* Form checkbox */

.filters {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-image: url("../img/background-catalog.jpg");
  outline: 5px solid rgba(255, 0, 128, 0.7);
  outline-offset: -5px;
}

.filter {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  justify-content: center;
}

.filter-infrastructure-title,
.filter-housing-title,
.filter-price-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 22px;
}

.filter-infrastructure {
  display: flex;
  flex-direction: column;
  padding: 26.5px 36px 31px 72px;
}

.filter-housing {
  display: flex;
  flex-direction: column;
  padding: 26.5px 80px 31px 36px;
}

.filter-option {
}

.filter-price {
  display: flex;
  flex-direction: column;
  padding: 26.5px 73px 32px 363px;
  margin: 0px;
}

.button-show {
  color: var(--basic-white);
  text-transform: uppercase;
  margin: 75px 95px 0px 95px;

  background-color: var(--basic-white-opacity);
}

/* Sortings */

.option {
  outline: 5px solid rgba(255, 251, 0, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-self: center;
}

.sorting-options {
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-low-opacity);
  align-items: center;
  text-transform: uppercase;

  display: flex;
  padding-top: 29px;
  padding-right: 412px;
  padding-bottom: 31px;
  padding-left: 73px;
  outline: 5px solid rgba(0, 255, 149, 0.7);
  outline-offset: -5px;
}

.option-found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0px;
}

.page-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0px 40px 0px 46px;
}

.sorting-price {
  color: var(--basic-ligth-blue);
  margin: 0px 32px 0px 0px;
}

.sorting-type {
  margin: 0px 33px 0px 0px;
}

.sorting-rating {
  margin: 0px;
}

.sorting-type,
.sorting-rating {
  color: var(--basic-low-opacity);
  border-bottom: 1px dotted var(--basic-ligth-blue);
  font-size: 12px;
  line-height: 18px;
}

.sorting-price:hover {
  color: var(--basic-low-opacity);
}

.sorting-price:active {
  color: var(--basic-black);
}

.sorting-type:hover {
  color: var(--basic-ligth-blue);;
}

.sorting-type:active {
  color: var(--basic-black);
}

.sorting-rating:hover {
  color: var(--basic-ligth-blue);
}

.sorting-rating:active {
  color: var(--basic-black);
}

.sorting-up-down {
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-low-opacity);
  align-items: center;
  text-transform: uppercase;

  display: flex;
  padding-top: 40px;
  padding-right: 73px;
  padding-bottom: 36px;
  padding-left: 73px;
  outline: 5px solid rgba(0, 255, 149, 0.7);
  outline-offset: -5px;
}

.sorting-ascending {
  margin: 0px;
  padding-right: 12px;
}

.sorting-descending {
  margin: 0px;
}

/* Catalog */

.catalog-list {
  list-style: none;
  align-items: center;
  text-transform: uppercase;

  outline: 5px solid rgba(0, 255, 149, 0.7);
  outline-offset: -5px;
  padding: 0px;
}

.catalog-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  padding: 39px 73px 30px 73px;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  padding: 0px 280px 0px 29px;
}

.result-housing-type {
  padding: 0px 9px 10px 29px;
  margin: 0px;
  color: var(--basic-extra-grey);
}

.result-housing-price {
  padding: 0px 10px 10px 0px;
  margin: 0px;
}

.catalog-item-title:hover {
  color: var(--basic-ligth-blue);
}

.catalog-item-title:active {
  color: var(--basic-low-opacity);
}

.infoblock {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.info {
  display: flex;
}

.result-for-price {
  margin: 0px;
  padding: 0px 100px 10px 9px;
}

.about-rating {
  margin-left: auto;
}

.rating {
  width: 110px;
  height: 27px;
  text-align: center;
  padding: 3px 12px 2px 15px;
  margin: 65px 0px 0px 150px;
  background-color: var(--basic-light-silver);
  color: var(--basic-dark-grey);
}


/* Button catalog */

.button-details {
  width: 110px;
  height: 27px;
  font-weight: bold;
  text-align: center;
  background-color: var(--basic-ligth-blue);
  color: var(--basic-white);
  margin: 0px 6px 30px 29px;
  padding: 3px 16px 3px 17px;
}

.button-details:hover {
  background-color: var(--basic-blue);
}

.button-details:active {
  background-color: var(--basic-extra-blue);
  color: var(--basic-white-opacity);
}

.button-book {
  width: 142px;
  height: 27px;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: bold;
  margin: 0px 29px 30px 6px;
  padding: 3px 17px 3px 16px;
}

.button-book:hover {
  background-color: var(--basic-brown);
}

.button-book:active {
  background-color: var(--basic-extra-brown);
  color: var(--basic-white-opacity);
}
